* {
    margin: 0;
    padding: 0;
}
body {
box-sizing: border-box;
min-height: 100vh;
}
.container {
    width: 375px;
    height: auto;
    margin: auto;
    background-color: pink;
    border: 1px solid lightgrey;
}
/* header */
header {
    background-color: white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 64px;
}
header p {
    display: none;
}
/* banner */
.banner{
 margin: auto;
 background-color: gainsboro;
 height: 500px;
}
.left-side {
    display: none;
}
.banner img {
    width: 100%;
}
.welcome h1 {
    margin: 32px 16px;
    font-size: 2.4em;
    color: #2f4f4f;
}
.welcome h2 {
    margin: 24px 16px;
    color: #2f4f4f;
    font-weight: 500;
}
.welcome button {
    margin: 24px 16px 32px 16px;
    background-color: grey;
    color: white;
    width: 85%;
    height: 40px;
    font-size: 1.2em;
    border: 0;
    border-radius: 2px;
}
/* info */
.info {
    background-color: white;
    padding-bottom: 24px;
    border: 1px solid lightgrey;
    height: 500px;
}
.right-side img {
    width: 90%;
    margin: 16px;
}
.text {
    margin: 16px 32px;
}
.text h3 {
    font-size: 1.4em;
}
.text h4 {
    margin: 16px 0;
    font-size: 1.1em;
    font-weight: 400;
}
.text a {
    text-decoration: none;
    font-size: 1.1em;
}
/* courses */
.courses {
    background-color: white;
    padding-bottom: 32px;
    border: 1px solid lightgrey;
    height: 500px;
}
.courses h2 {
    text-align: center;
    font-size: 2em;
    padding: 32px 32px 16px 32px;
}
.courses p {
    font-size: 1.17em;
    border: 1px solid lightgrey;
    padding: 16px 16px 24px 16px;
    font-weight: 700;
    background-color: gainsboro;
    margin: 8px;
}
/* thesis */
.thesis {
    background-color: white;
    height: 500px;
}
.thesis h2 {
    padding: 32px 32px 16px 32px;
    text-align: center;
    font-size: 2em;
}
.thesis video {
    width: 100%;
}
/* footer */
.footer {
    background-color: white;
    padding-top: 24px;
}
footer p {
    padding: 16px 10px;
}
@media only screen and (min-width: 736px) {  
 body {
     background-color: wheat;
 }
 .container {
   width: 1000px;
 }
 /* header */
 header {
     padding: 0 24px;
     box-sizing: border-box;
 }
 header img {
    display: none;
 }
 header img:nth-child(1) {
    display: block;
 }
 header p {
     display: block;
 }
 header p:nth-of-type(1) {
     text-transform: uppercase;
     margin-left: -50px;
     font-size: 1.2em;
 }
 header span {
     color: royalblue;
     margin-right: 240px;
 }
 /* banner */
 .banner {
     display: flex;
     width: 100%;
 }
 .banner img {
    width: 60%;
    margin: 32px 24px;
}
.welcome {
    width: 40%;
    margin: auto;
}
 /* info */
 .info {
     display: flex;
     width: 100%;
 }
 .left-side {
     display: block;
 }
 .left-side img {
     width: 92%;
     margin: 32px 24px;
 }
 .img-text {
     width: 65%;
     margin: 0 24px;
     padding-bottom: 32px;
 }
.img-text h2, h4 {
    margin-bottom: 24px;
}
.right-side img {
 width: 45%;
 height: auto;
}
.right-side {
    display: flex;
    flex-direction: column;
}
.top, .mid, .bottom {
    display: flex;
    width: 100%;
    height: 33%;
}
.text {
    margin: 0 auto;
}
.text h3 {
    font-size: .9em;
}
.text h4 {
    font-size: .5em;
}
.text a {
    font-size: .5em;
}
} 