* {
    margin: 0;
    padding: 0;
}
body {
box-sizing: border-box;
min-height: 100vh;
}
.container {
    width: 375px;
    height: auto;
    margin: auto;
    background-color: pink;
    border: 1px solid lightgrey;
}
/* header */
header {
    background-color: white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 64px;
}
header p {
    display: none;
}
/* banner */
.banner{
 margin: auto;
 background-color: gainsboro;
 height: 700px;
}
.left-side {
    display: none;
}
.banner img {
    width: 100%;
}
.welcome h1 {
    margin: 32px 16px;
    font-size: 2.4em;
    color: #2f4f4f;
}
.welcome h2 {
    margin: 24px 16px;
    color: #2f4f4f;
    font-weight: 500;
}
.welcome button {
    margin: 24px 16px 32px 16px;
    background-color: grey;
    color: white;
    width: 85%;
    height: 40px;
    font-size: 1.2em;
    border: 0;
    border-radius: 2px;
}
/* info */
.info {
    background-color: white;
    border: 1px solid lightgrey;
    height: 700px;
}
.left-side {
    display: none;
}
.right-side {
    display: flex;
    flex-direction: column;
}
.right-side img {
    width: 92%;
    height: 100px;
    margin: 12px;
}
.text {
    margin: 12px;
}
.text h3 {
    font-size: 1em;
}
.text h4 {
    margin: 12px 0;
    font-size: .8em;
    font-weight: 400;
}
.text a {
    text-decoration: none;
    font-size: .8em;
}
.vl {
    display: none;
}
/* courses */
.courses {
    background-color: white;
    border: 1px solid lightgrey;
    height: 700px;
}
.courses h2 {
    text-align: center;
    font-size: 2em;
    padding: 32px;
}
.courses h3 {
    font-size: 1.17em;
    border: 1px solid lightgrey;
    font-weight: 700;
    padding: 16px;
    background-color: gainsboro;
    margin: 8px;
}
.courses img { 
    display: none;
}
.courses h4, p {
    display: none;
}
/* thesis */
.thesis {
    background-color: white;
    height: 700px;
}
.thesis h2 {
    padding: 32px 32px 16px 32px;
    text-align: center;
    font-size: 2em;
}
.thesis video {
    width: 100%;
}
/* footer */
.footer {
    background-color: white;
    padding-top: 24px;
}
footer p {
    padding: 16px 10px;
}
@media only screen and (min-width: 736px) {  
 body {
     background-color: wheat;
 }
 .container {
   width: 1000px;
 }
 /* header */
 header {
     padding: 0 24px;
     box-sizing: border-box;
 }
 header img {
    display: none;
 }
 header img:nth-child(1) {
    display: block;
 }
 header p {
     display: block;
 }
 header p:nth-of-type(1) {
     text-transform: uppercase;
     margin-left: -50px;
     font-size: 1.2em;
 }
 header span {
     color: royalblue;
     margin-right: 240px;
 }
 /* banner */
 .banner {
     display: flex;
     width: 100%;
 }
 .banner img {
    width: 60%;
    margin: 32px 24px;
}
.welcome {
    width: 40%;
    margin: auto;
}
 /* info */
 .info {
     display: flex;
     width: 100%;
 }
 .left-side {
     display: block;
     width: 60%;
 }
 .left-side img {
     width: 92%;
     height: 430px;
     margin: 32px 24px;
 }
 .img-text {
     width: 95%;
     margin: 0 24px;
     padding-bottom: 32px;
 }
.img-text h2 {
    font-size: 2em;
    display: block;
}
.img-text h4 {
    font-size: 1.2em;
    font-weight: 500;
    display: block;
    margin: 16px 0;
}
.img-text p {
    font-weight: 700;
    display: block;
}
.vl {
    display: block;
    border-left: 1px solid lightgrey; 
    height: 725px; 
}
.right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;
}
.top, .mid, .bottom {
    display: flex;
    width: 100%;
    height: 31%;
    border: 1px solid lightgrey;
}
.top img {
    width: 40%;
    height: auto;
}
.top .text {
    width: 65%;
    margin: auto;
}
.mid img {
    width: 40%;
    height: auto;
}
.mid .text {
    width: 65%;
    margin: auto;
}
.bottom {
    background-color: gainsboro;
}
.bottom img {
    width: 40%;
    height: auto;
}
.bottom .text {
    width: 65%;
    margin: auto;
}
.text h3 {
    font-size: 1.17em;
}
.text h4 {
    font-size: .8em;
}
.text a {
    font-size: .8em;
}
/* courses */
.courses {
    background-color: gainsboro;
}
.courses h2 {
    width: 100%;
    height: 64px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.software, .computer-art, .design, .data, .business .marketing {
    display: flex;
    flex-flow: column wrap;
}
.software img, .computer-art img, .design img, .data img, .business img, .marketing img{
   width: 275px;
}
.software-text, .computer-art-text, .design-text, .data-text, .business-text, .marketing-text {
   width: 275px;
   background-color: white;
}

.courses h4, p {
    display: block;
}
.courses h3 {
   border: 0;
   margin: 0;
   padding: 0;
   background-color: white;
}
.courses img {
    display: block;
}
} 