* {
    margin: 0;
    padding: 0;
}
body {
box-sizing: border-box;
min-height: 100vh;
}
.container {
    width: 375px;
    height: auto;
    margin: auto;
    border: 1px solid lightgrey;
}
/* header */
header {
    background-color: white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 64px;
}
header a {
    display: none;
}
header p {
    display: none;
}
/* banner */
.banner{
 margin: auto;
 background-color: gainsboro;
 height: 700px;
}
.left-side {
    display: none;
}
.banner img {
    width: 100%;
}
.welcome h1 {
    margin: 32px 16px;
    font-size: 2.4em;
    color: #2f4f4f;
}
.welcome h2 {
    margin: 24px 16px;
    color: #2f4f4f;
    font-weight: 500;
}
.welcome button {
    margin: 24px 16px 32px 16px;
    background-color: grey;
    color: white;
    width: 85%;
    height: 40px;
    font-size: 1.2em;
    border: 0;
    border-radius: 2px;
}
/* info */
.info {
    background-color: white;
    border: 1px solid lightgrey;
    height: 700px;
}
.left-side {
    display: none;
}
.right-side {
    display: flex;
    flex-direction: column;
}
.right-side img {
    width: 92%;
    height: 100px;
    margin: 12px;
}
.text {
    margin: 12px;
}
.text h3 {
    font-size: 1em;
}
.text h4 {
    margin: 12px 0;
    font-size: .8em;
    font-weight: 400;
}
.text a {
    text-decoration: none;
    font-size: .8em;
}
.vl {
    display: none;
}
/* courses */
.courses {
    background-color: white;
    border: 1px solid lightgrey;
    height: 700px;
}
.courses h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 32px;
}
.courses h3 {
    font-size: 1.9em;
    border: 1px solid lightgrey;
    font-weight: 700;
    padding: 16px;
    background-color: gainsboro;
    margin: 12px;
}
.courses img { 
    display: none;
}
.courses h4, .courses p {
    display: none;
}
/* thesis */
.thesis {
    background-color: white;
    height: 700px;
}
.thesis h2 {
    padding: 32px 32px 16px 32px;
    text-align: center;
    font-size: 2.5em;
    height: 50px;
}
.thesis p {
    display: none;
}
.thesis video {
    min-width: 100%;
    height: 450px;

}
.thesis h3 {
    display: none;
}
.thesis img {
    display: none;
}
/* footer */
.footer {
    background-color: white;
    padding-top: 24px;
}
.copyright {
    padding: 16px 10px;
    display: block;
}
.terms {
    display: none;
}

@media only screen and (min-width: 736px) {  
 .container {
   width: 1000px;
 }
 /* header */
 header {
     padding: 0 24px;
     box-sizing: border-box;
 }
 header img {
    display: none;
 }
 header img:nth-child(1) {
    display: block;
 }
 header p, header a {
     display: block;
     text-decoration: none;
 }
 header a:hover {
     color: coral;
 }
 header p:nth-of-type(1) {
     text-transform: uppercase;
     margin-left: -50px;
     font-size: 1.2em;
 }
 header span {
     color: royalblue;
     margin-right: 240px;
 }
 /* banner */
 .banner {
     display: flex;
     width: 100%;
 }
 .banner img {
    width: 60%;
    margin: 32px 24px;
}
.welcome {
    width: 40%;
    margin: auto;
}
.banner button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
    height: 50px;
    width: 300px;
    margin: auto;
    line-height: 50px;
    font-size: 1em;
  }
  .banner button:active {
    background-color: royalblue;
    box-shadow: 0 5px hotpink;
    transform: translateY(2px);
  }
 /* info */
 .info {
     display: flex;
     width: 100%;
 }
 .left-side {
     display: block;
     width: 60%;
 }
 .left-side img {
     width: 92%;
     height: 430px;
     margin: 32px 24px;
 }
 .img-text {
     width: 95%;
     margin: 0 24px;
     padding-bottom: 32px;
 }
.img-text h2 {
    font-size: 2em;
    display: block;
}
.img-text h4 {
    font-size: 1.2em;
    font-weight: 500;
    display: block;
    margin: 16px 0;
}
.img-text p {
    font-weight: 700;
    display: block;
}
.vl {
    display: block;
    border-left: 1px solid lightgrey; 
    height: 725px; 
}
.right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;
}
.top, .mid, .bottom {
    display: flex;
    width: 100%;
    height: 31%;
    border: 1px solid lightgrey;
}
.top img {
    width: 40%;
    height: auto;
}
.top .text {
    width: 65%;
    height: auto;
    margin: auto;
}  
.mid img {
    width: 40%;
    height: auto;
}
.mid .text {
    width: 65%;
    margin: auto;
}
.bottom {
    background-color: gainsboro;
}
.bottom img {
    width: 40%;
    height: auto;
}
.bottom .text {
    width: 65%;
    margin: auto;
}
.text h3 {
    font-size: 1.17em;
}
.text h4 {
    font-size: .8em;
}
.text a {
    font-size: .8em;
}
/* courses */
.courses {
    background-color: gainsboro;
}
.courses h2 {
    width: 100%;
    height: 64px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 1 0%;
    
}
.software, .computer-art, .design, .data, .business .marketing {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 15px;
}
.software img, .computer-art img, .design img, .data img, .business img, .marketing img{
   width: 250px;
   height: 50%;
}
.software-text, .computer-art-text, .design-text, .data-text, .business-text, .marketing-text {
   width: 250px;
   background-color: white;
   height: 50%;
}

.courses h4, .courses p {
    display: block;
    font-weight: 400;
    margin: 5px 0;
}
.courses h4 {
    text-transform: uppercase;
}
.courses h3 {
   border: 0;
   margin: 0;
   padding: 0;
   background-color: white;
   margin-top: 5px;

}
.courses img {
    display: block;
}
/* thesis */
.image-container-2 {
    display: flex;
}
.thesis h2 {
    width: 100%;
    height: 64px;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 2em;
    line-height: 64px;
}
.thesis h3, .thesis p, .thesis img {
    display: block;
}
.left-side-2 {
    margin-left: 24px;
}
.left-side-2 h3 {
    margin-bottom: 24px;
}
.right-side-2 {
   display: flex;
   flex-direction: column;
}
.top-2, .mid-2  {
    display: flex;
    width: 100%;
    height: 35%;
    border: 1px solid lightgrey;
}
.top-2, .mid-2 {
    display: flex;
    flex-wrap: wrap;
}
.top-2 {
    background-color: gainsboro;
}
.top-2 img, .mid-2 img {
    width: 33%;
    height: 100%;
}
.top-2-text, .mid-2-text {
    width: 65%;
    height: auto;
    margin: auto;
}
.thesis video {
    width: 650px;
    height: 500px;
    margin-top: -60px;
}
.left-side-2 {
    flex: 1;
}
/* footer */
.footer {
    display: flex;
    justify-content: space-between;
}
.terms {
    display: block;
    padding: 16px 10px;
    margin-right: 24px;
}
.copyright {
    margin-left: 24px;
}
} 